{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <img src="/static/images/logo.jpeg" alt="" style="    width: 200px;
          border-radius: 50%;">
    <form action="" method="POST" class="form-group text-white">
        <h1 class="custom_heading" style="color:white;margin: 20px 0px 0px 0px;">User Login</h1>
        {{ forms.hidden_tag() }}
        <form method="post">
            <small>enter your new password</small> <br>
            <input type="password" name="passw" id="passw" placeholder="password"> <br>
            <input type="password" name="cpassw" id="cpassw" placeholder="confirm password"> <br>
            <input type="submit" value="Submit">
        </form>

    </form>

</div>
{% endblock %}