{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <button type="button" style="float: right; margin-left: 2px;" class="btn btn-info btn-sm">
        <a href="{{url_for('login')}}" class="text-white" style="text-decoration: none;">Login</a>
      </button>
      <button type="button" style="float: right; margin-left: 2px;" class="btn btn-info btn-sm">
        <a href="{{url_for('signup')}}" class="text-white" style="text-decoration: none;">SignUp</a>
      </button>
    <button type="button" style="float: right; margin-left: 2px;" class="btn btn-info btn-sm">
        <a href="{{url_for('home')}}" class="text-white" style="text-decoration: none;">Home</a>
      </button>
    <img src="/static/images/logo.jpeg" alt="" style="    width: 200px;
          border-radius: 50%;">
    <form action="" method="POST" class="form-group text-white">
        <h1 class="custom_heading" style="color:white;margin: 20px 0px 0px 0px;">User Login</h1>
        {{ forms.hidden_tag() }}
        <form action="/" method="post">
            <small>enter the email address of the account you forgot your password</small> <br>
            <input type="email" name="mail" id="mail" placeholder="mail@mail.com"> <br>
            <input type="submit" value="Submit">
        </form>

    </form>

</div>  
{% endblock %}