{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <button type="button" style="float: right; margin-left: 2px;" class="btn btn-info btn-sm">
        <a href="{{url_for('signup')}}" class="text-white" style="text-decoration: none;">SignUp</a>
      </button>
    <button type="button" style="float: right; margin-left: 2px;" class="btn btn-info btn-sm">
        <a href="{{url_for('home')}}" class="text-white" style="text-decoration: none;">Home</a>
      </button>
      
    <img src="/static/images/logo.jpeg" alt="" style="    width: 200px;
          border-radius: 50%;">
    <form action="" method="POST" class="form-group text-white">
        <h1 class="custom_heading" style="color:white;margin: 20px 0px 0px 0px;">User Login</h1>
        {{ forms.hidden_tag() }}
        <div class="form-group">
            {{forms.email.label(class="form-control-label")}}
            {% if forms.email.errors %}
                {{forms.email(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in forms.email.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{forms.email(class="form-control form-control-lg")}}
            {% endif %}
        </div>
        <div class="form-group">
            {{forms.password.label(class="form-control-label")}}
            {% if forms.password.errors %}
                {{forms.password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in forms.password.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{forms.password(class="form-control form-control-lg")}}
            {% endif %}
        </div>
        
        <div class="form-check">
            {{forms.remember(class="form-check-input")}}
            {{forms.remember.label(class="form-check-label")}}
        </div>
        <div class="form-group btn">
           {{forms.submit(class="btn btn-info")}}
        </div>

    </form>
    <button type="button" class="btn btn-info btn-sm">
        <a href="{{url_for('forgetPassword')}}" class="text-white" style="text-decoration: none;">Forget Password</a>
      </button>
    

</div>
{% endblock %}